<h1>Listing roles</h1>

<table>
  <tr>
    <th>Role</th>
    <th>Name</th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= role.role_id %></td>
    <td><%= role.name %></td>
  </tr>
<% end %>
</table>

